/*
Colors

super dark crimzon #411d31 
Normal crimzon #631b34 
Dark navy blue #32535f 
light navy blue #0b8a8f 
cyan #0eaf9b 
eltric blue #30e1b9 

*/

.myNav {
    background-color: #411d31 !important;
    
}

.myNav, .myNav a, .myNav li, .myNav span {
    color: #30e1b9 !important;
    border-color: #30e1b9;
}