/*
Colors

#600000

#FFFDD0

#FFF200
*/
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

* {
    font-family: "Pirata One", system-ui !important;
}

body {
    background-color: #600000 ;
    color: #FFFDD0;
}

.myNav {
    background-color: #FFF200 !important;
    
}

.myNav, .myNav a, .myNav li, .myNav span {
    color: black !important;
    border-color: black;
}

header div h1 {
    text-align: center;
}

header div {
    background-color: #60000073;
    border-radius: 3em;
    margin: auto;
    width: 500px;
}

header {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 500px;
    background-image: url(../images/hero_imresizer.jpg);
    background-position: 35% 65%;
}

p {
    margin: 10%;
    font-size: 20px;
}

.img {
    width:250px !important;
    margin: 2% !important;
}